body{
    background-color: #000;
}
.contenedor_galeria {
    width: 100%;
    max-width: 1200px; 
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: center;
    padding: 0 15px;
}
.contenedor_imagen {
    width: 100%;
    max-width: 250px;
    flex: 1 1 200px; 
}
.imagen{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 0 7px rgba(197, 181, 196, 0.829);
    opacity: 0.9;
    filter:brightness(0.9);
}
.imagen:hover{
    filter:none;
}


